@import url('https://fonts.googleapis.com/css2?family=Aclonica&family=Actor&display=swap');

* {
    margin: 0;
    padding: 0;
    border: none;
}

body {
    font-family: 'Aclonica', sans-serif;
    color: #7d7d7c;
}

/* headings and logo */

h1, h2 {
    font-family:'Aclonica', sans-serif;
    letter-spacing: normal;
    color: #5d5d5b;
}

#logo {
    float: left;
    font-size: 25px;
    margin-left: 30px;
}

/* navigation links */

#menu {
    font-size: 110;
    letter-spacing: normal;
}

#menu, #logo {
    line-height: 75px;
}

#menu li {
    float: right;
    list-style-type: none;
    margin-right: 30px;
}

#menu a {
    text-decoration: none;
    color: inherit;
}

#menu a:hover{
    border-bottom: 1px solid #5d5d5b;
}

/* hero-image */

#image-outer {
    height: 75%;
    width: 100%;
    overflow: hidden;  
    margin-left: 20%;  
}

.container {
    display: flex;
    align-items: center;
    justify-content: center;
}

img {
    width: 50%;
    height: 50%;
}

.image {
    flex-basis: 100%;
}

/* sections */

#intro {
    padding-top: 10%;
    height: 600px;
    width: 100%;
    margin-top: 10%;
    text-align: center;
}

#text {
    height: 600px;
    margin-left: 20%;
    text-align: center;
}

#text p {
    width: 60%;
    line-height: 20px;
    text-align: center;
   
    margin: 20px;
    
}

#text h1 {
    width: 60%;
    line-height: 20px;
    text-align: center;
    clear: both;
    margin-top: 20px; 
}

#about-us {
    height: 600px;
    margin-left: 20%;
    text-align: center;
}

hr {
    width: 100%;
    margin: 5px 0;
}

.form-section {
    clear: left;
    background-size: cover;
    background-position: center;
    height: 600px;  
}

#contact {
    
    height: 600px;
    width: 100%;
    margin-left: 20%;
    margin-top: 10%;
    text-align: center;
}

#about-heading {
    width: 60%;
    line-height: 20px;
    text-align: center;
    clear: both;
    margin-bottom: 20px;
}

#form-heading {
width: 60%;
    line-height: 20px;
    text-align: center;
    clear: both;
    margin-bottom: 20px;
}

#contact-heading {
    width: 60%;
    line-height: 20px;
    text-align: center;
    clear: both;
    margin-bottom: 20px;
}

/* form-section */


.signup-form {
    color: #5d5d5b;
    max-width: 400px;
    position:absolute;
    left:10%;
    padding: 30px;
    text-align: center;
}

.signup-form > p {
    color: #5d5d5b;
    margin-bottom: 20px;
    text-align: center;
}

.text-input {
    background:transparent;
    color: #5d5d5b;
    width: 100%;
    height: 25px;
    margin: 5px 0 20px 0;
    border: 1px solid #5d5d5b;
    border-radius: 2px;
}

.text-input:hover {
    border-color: #f16c6b;
}

.submit-button {
    margin-top: 20px;
    border-radius: 2px;
    padding: 15px 32px 15px 32px;
    text-align: center;
    font-size: 100%;
    background-color: #f16c6b;
    color: #fafafa;
    
}

.submit-button:hover {
    background-color: #fafafa;
    color:#f16c6b;
}


/* footer */

footer {
    height: 150px;
}

.social-media {
 text-align: center;   
}
.social-media > li {
    display: inline;
}

.social-media i {
    font-size: 160%;
    margin: 1px;
    padding: 5%;
    color: #5d5d5b;
}

/* Media queries */

/* for larger to medium screens 1200px wide and down */
@media screen and (max-width: 1200px) {
    #about-us, #contact, #intro {
        clear: both;
        width: 100%;
        float: left;
        padding: 0;
    }

    hr {
        display: none;
    }


}

/* medium screens 950px wide and down */
@media screen and (max-width: 950px) {
    #menu {
        clear: left;
        float: left;
        margin-left: 30px;
        margin-bottom: 20px;
        line-height: 25px;
    }

    #image-outer {
        clear: left;
        float: left;
        margin-left: 30px;
        margin-bottom: 20px;
        line-height: 25px;  
    }

    #about-us {
        width: 90%;
        height: 1200px;
        margin: 0 auto;
        line-height: 25px;
    }

    #contact {
        width: 90%;
        height: 1200px;
        margin: 0 auto;
        line-height: 25px;
    }

    #intro {
        width: 90%;
        height: 1200px;
        margin: 0 auto;
        line-height: 25px;
    }

    .signup-form  {
        width: 90%;
        height: 1200px;
        margin: 0 auto;
    }

    

    #about-heading, #form-heading, #contact-heading, #text {
        width: inherit;
    }
    
    
}

