@import url('https://fonts.googleapis.com/css2?family=Aclonica&family=Actor&display=swap');

* {
    margin: 0;
    padding: 0;
    border: none;
}

body {
    font-family: 'Aclonica', sans-serif;
    color: #7d7d7c;
}

/* headings and logo */

h1, h2 {
    font-family:'Aclonica', sans-serif;
    letter-spacing: normal;
    color: #5d5d5b;
}

#logo {
    float: left;
    font-size: 30px;
    margin-left: 30px;
}

/* navigation links */

#menu {
    font-size: 110;
    letter-spacing: normal;
}

#menu, #logo {
    line-height: 75px;
}

#menu li {
    float: right;
    list-style-type: none;
    margin-right: 30px;
}

#menu a {
    text-decoration: none;
    color: inherit;
}

#menu a:hover{
    border-bottom: 1px solid #5d5d5b;
}

/* hero-image */

#image-outer {
    height: 75%;
    width: 100%;
    overflow: hidden;  
    margin-left: 50px;  
}

.container {
    display: flex;
    align-items: left;
    justify-content: center;
}

img {
    width: 75%;
    height: 75%;
}

.image {
    flex-basis: 100%;
}

.text {
    padding: 30px;
    font-size: 150%;
    font-family: 'Aclonica', sans-serif;
    color: #5d5d5b;
    margin: 50px;
    text-align: center;
}
/* sections */

#about-us {
    padding-top: 20px;
    height: 300px;
    width: 100;
    margin-left: 20%;
    margin-top: 10%;
    text-align: center;
}

hr {
    width: 100%;
    margin: 5px 0;
}

#form {
    padding-top: 30px;
    height: 300px;
    width: 100; 
    margin-left: 20%;
    margin-top: 10%;
    text-align: center;   
}

#contact {
    
    height: 300px;
    width: 100;
    margin-left: 20%;
    margin-top: 10%;
    text-align: center;
}

#about-heading {
    width: 60%;
    line-height: 20px;
    text-align: center;
    clear: both;
    margin-bottom: 20px;
}

#form-heading {
width: 60%;
    line-height: 20px;
    text-align: center;
    clear: both;
    margin-bottom: 20px;
}

#contact-heading {
    width: 60%;
    line-height: 20px;
    text-align: center;
    clear: both;
    margin-bottom: 20px;
}


/* footer */

footer {
    height: 150px;
}

.social-media {
 text-align: center;   
}
.social-media > li {
    display: inline;
}

.social-media i {
    font-size: 160%;
    margin: 1px;
    padding: 5%;
    color: #5d5d5b;
}