@import url('https://fonts.googleapis.com/css2?family=Aclonica&family=Actor&display=swap');

* {
    margin: 0;
    padding: 0;
    border: none;
}

body {
    font-family: 'Aclonica', sans-serif;
    color: #7D7D7C;
}

/* headings and logo */

h1, h2 {
    font-family:'Aclonica', sans-serif;
    letter-spacing: normal;
    color: #5D5D5B;
}

#logo {
    float: left;
    font-size: 280%;
}